version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.10.0

    steps:
      - checkout

    deployment:
      staging:
        branch: staging
        heroku:
          appname: timestamp-app-dev
