############################################
workflows:
  version: 2
  build_and_deployment:
    jobs:
      - build
      - deployment
############################################
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - checkout
      - run: echo "yarn install"
      - run: echo "yarn build --prod"
  deployment:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - checkout
      - run: echo "Deployment To Heroku"
        commmand: bash ./hello.sh
