version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - checkout
      # - run: yarn install
      - run: echo "yarn install done"
      # - run: yarn build --prod

  deploy:
    docker:
      - image: circleci/node:8.10.0
      steps:
        - checkout
        - run: echo "deployment session"
          command: bash ./hello.sh
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy
