version: 2
jobs:
  master_jobs:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - checkout
      - run: echo "yarn install"
      - run: echo "yarn test"
      - run: bash ./hello.sh
  production_jobs:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - checkout
      - run: echo "production jobs start"
      - run: echo "production jobs doing"
      - run: echo "production jobs done"

  staging_jobs:
    docker:
      - image: circleci/node8.10.0
    steps:
      - checkout
      - run: echo "staging jobs start"
      - run: echo "staging jobs doing"
      - run: echo "staging jobs done"
workflows:
  version: 2
  build-test-deploy-except-master:
    jobs:
      - master_jobs:
        filters:
          branches:
            only: master
      - production_jobs:
        filters:
          branches:
            only: production
      - staging_jobs:
        filters:
          branches:
            only: staging
