version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.10.0

    working_directory: ~/timestamp-app

    steps:
      - checkout
      - run: yarn install
      # - run: yarn test

    deployment:
      staging:
        branch: staging
        heroku:
          appname: timestamp-app-dev
