version: 2
jobs:
  build-jobs:
    working_directory: ~/timestamp-app
    environment:
      TZ: Asia/Tokyo
    docker:
      - image: circleci/node:8.11-browsers
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run: npm install
      - run: npm run build --prod
      - save_cache:
          name: Save Yarn Package Cache
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            -  ./node_modules
      - persist_to_workspace:
          root: .
          paths:
            - .
  test-jobs:
    working_directory: ~/timestamp-app
    docker:
      - image: circleci/node:8.11-browsers
    steps:
      - attach_workspace:
          at: .
      - run: yarn test

  master_jobs:
    working_directory: ~/timestamp-app
    docker:
      - image: circleci/node:8.11-browsers
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: ./hello.sh
  deploy-prod:
    working_directory: ~/timestamp-app
    docker:
      - image: circleci/node:8.11-browsers
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: ./deploy-prod.sh
  deploy-staging:
    docker:
      - image: circleci/node:8.11-browsers
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: ./deploy-dev.sh

workflows:
  version: 2
  build-test-deploy-except-master:
    jobs:
      - build-jobs:
          filters:
            branches:
              only: master
      - test-jobs:
          requires:
            - build-jobs
      - master_jobs:
          requires:
            - build-jobs
          filters:
            branches:
              only: master
      - deploy-prod:
          filters:
            branches:
              only: production
      - deploy-staging:
          filters:
            branches:
              only: staging
