version: 2

container: &container
  working_directory: ~/angular-my-template
  docker:
    - image: circleci/node:8.11-browsers
      environment:
        TZ: Asia/Tokyo
        TERM: xterm

jobs:
  install-and-build:
    <<: *container
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run: yarn install
      - run: yarn build:prod
      - save_cache:
          name: Save Yarn Package Cache
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache
            - ./node_modules
      - persist_to_workspace:
          root: .
          paths:
            - .

  test:
    <<: *container
    steps:
      - attach_workspace:
          at: .
      - run:
          command: yarn serve
          background: true
      - run:
          command: yarn cypress:install
      - run:
          command: yarn test:wait

  master-jobs:
    <<: *container
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: ./scripts/create-mastertag.sh

  production-jobs:
    <<: *container
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: ./scripts/deploy-prod.sh

  staging-jobs:
    <<: *container
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: ./scripts/deploy-dev.sh

workflows:
  version: 2
  build-and-test:
    jobs:
      - install-and-build
      - test:
          requires:
            - install-and-build
      - master-jobs:
          requires:
            - test
          filters:
            branches:
              only: master
      - production-jobs:
          requires:
            - test
          filters:
            branches:
              only: production
      - staging-jobs:
          requires:
            - test
          filters:
            branches:
              only: staging
