version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - checkout
      - run: echo "yarn install"
      - run: echo "yarn build --prod"
  deployment:
    docker:
      - image: circleci/node:8.10.0
    steps:
      - checkout
      - run: echo "Deployment To Heroku deploy shell"
        commmand: bash ./hello.sh
  unit-test:
    docker:
      - image: circleci/node8.10.0
    steps:
      - checkout
      - run: echo "do yarn test but dont' watch mode"
workflows:
  version: 2
  jobs:
    - master_jobs:
      filters:
        branches:
          only: master
      - run: echo "master_job a"
      - run: echo "master_job b"
      - run: echo "master_job c"
    - production_jobs:
      filters:
        branches:
          only: production
    - staging_jobs:
      filters:
        branches:
          only: staging
